{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta char = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MZ부산 | 오늘의 부산 핫플 추천 | 맛집</title>
        <link rel = "stylesheet" href = {% static "populars/css/food_styles.css" %}>
    </head>
    <body>
        <div id = "header">
            <a href = "#">MZ부산</a>
            <a class = "login" href = "#">로그인</a>
            <a class = "login" href = "#">회원가입</a>
        </div>

        <hr>

        <div id = "food_intro">
            {% block food_intro %}
            {% endblock food_intro %}
        </div>
        <div id = "food_ment">
            {% block food_ment %}
            {% endblock food_ment %}
        </div>

        <hr>

        <div id = "menu">
            <h4>메뉴</h4>
            {% block menu %}
            {% endblock menu %}
        </div>

        <hr id = "line">

        <div>
            <div id = "review">
                <h4 id = "review1">리뷰</h4>
                <a>
                    <input type = "radio"
                        name = "food"
                        value = "insta"> 전체
                    <input type = "radio"
                        name = "food"
                        value = "insta"> 외부인
                    <input type = "radio"
                        name = "food"
                        value = "local"> 주민
                    <a id = "plus" href = "#">더보기</a>
                </a>
            </div>
            <div id = "review_ment">
                {% block review_ment %}
                {% endblock review_ment %}
            </div>
        </div>

        <div id = "footer">
            <h5>회사</h5>
            <a>회사 소개</a>
            <h5>서비스</h5>
            <a>공지 사항</a>
            <a>자주 묻는 질문</a>
            <h5>인스타</h5>
            <a href = "#"
                id = "my_insta">zzz_y0un9</a>
        </div>
    </body>
</html>